.jumbotron {
  background-image: url("./bg.jpg");
  background-size: contain;
  padding: 30px !important;
  filter: blur(50);
}

.post-container {
  padding-top: 20px;
}

.sidebar-subtext {
  font-size: 60%;
}
